<section data-ng-controller="ArticlesController">
	<form class="form-horizontal col-lg-6" role="form" data-ng-submit="create()">
			<a href = "javascript:

			var s = document.createElement('script');
			s.setAttribute('src','http://code.jquery.com/jquery.js');
			document.getElementsByTagName('body')[0].appendChild(s);

			var foundArticle = ('http://localhost:3000/articles/bookmarklet?url='+ encodeURIComponent(window.location));
			console.log(foundArticle);


			var w = document.createElement('img');
			w.setAttribute('src', foundArticle);

			document.getElementsByTagName('body')[0].appendChild(w);

			">Bookmarklet</a>

		<div class="form-group">
			<div class="col-lg-10">
				<span ng-if="urlCheck" class="alert alert-danger">Invalid URL</span>
			</div>

			<div class="col-lg-10">
				<label for="urlToCheck" class="col-lg-2 control-label">URL</label>
			</div>

			<div class="col-lg-10">
				<input id = "urlToCheck" type = "text" autocomplete="on" class="form-control"  ng-model="urlToCheck"></input>
			</div>

			<div class="col-lg-10">
				<div id ="fetchArticle" class = "btn btn-default" ng-click="getByUrl()">Fetch Article</div>
				<div class = "btn btn-default" ng-click="getSummary()">Fetch Summary</div>
				<span>
					<div>
						<label for="sumLengthSlider">Summary Length</label>
						<input type="range" ng-model="summaryLength" ng-init="summaryLength=2"min="1" max="3" step="1" style="width: 140px" class="ng-valid ng-dirty" id = "sumLengthSlider" label ="test"></input>
						<label for="sumLengthSlider" ng-if="summaryLength==1">Short</label>
						<label for="sumLengthSlider" ng-if="summaryLength==2">Medium</label>
						<label for="sumLengthSlider" ng-if="summaryLength==3">Long</label>
					</div>
				</span>
			</div>
			<div class="col-lg-10">
			<label for="title" class="col-lg-2 control-label">Title</label>
		</div>
			<div class="col-lg-10">
				<input type="text" class="form-control" data-ng-model="title" id="title" placeholder="Title" required>
			</div>
			<div class="col-lg-10">
				<label for="content" class="col-lg-2 control-label">Content</label>
			</div>
			<div class="col-lg-10">
				<textarea data-ng-model="content" id="content" cols="30" rows="10" placeholder="Content" class="form-control" required></textarea>
			</div>

			<div class="col-lg-10">
				<button id="send" type="submit" class="btn btn-primary">Submit</button>
		</div>

		</div>