<section data-ng-controller="ArticlesController" ng-show="!global.user">
<h1> Please <a href="/signin">Sign In</a> or <a href="/signup">Sign Up</a> </h1>
</section>

<section data-ng-controller="ArticlesController" data-ng-init="find()" data-ng-show="global.user">

			<b>Bookmarklet</b>
			<a class = 'label label-warning' href = "javascript:
			var myScript = document.createElement('script');
			myScript.setAttribute('src', 'https://raw.github.com/CoderCookE/GlanceThrough/master/glancethroughbookmarklet.js');
			document.body.appendChild(myScript);

			">Add to GlanceThrough</a> Drag and Drop to Bookmarks Bar

		<h1>Articles Created By {{global.user.name}}</h1>

		<div class = "col-md-10">
			<span class="pull-right">Search Articles: <input type="text" ng-model="searchFor"></input>
			</span>
		</div>
		<br>
		<br>
		<div>
			<ul class="articles unstyled">
				<li ng-if="global.user._id == article.user._id" data-ng-repeat="article in articles | filter:global.user._id |filter:searchFor">
						<span>{{article.created | date:'medium'}}</span> /
						<span>{{article.user.username}}</span>
						<h2><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a></h2>
						<div>{{article.content.substring(0,500) + "..."}}</div>
				</li>
			</ul>
		</div>

	<h1 data-ng-hide="!articles || (articles|filter:global.user._id).length">
		<div><br>
			<h1>No articles yet. Why don't you <a href="/#!/articles/create">Create One</a>?</h1>
		</div>
</section>