<section data-ng-controller="ArticlesController" data-ng-init="findOne()">

    <span> {{article.title.substring(0,33) + "..."}} </span>

    <div data-ng-show="global.user._id == article.user._id">
        <a class="btn" href="/#!/articles/{{article._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
        <span>{{article.created | date:'medium'}}</span>
       </div>
       <div>
        <div data-ng-init="setUp()">
        <h2>Words Per Minute</h2>
			   <input type="range" ng-model="speed" min="100" max="2000" step="25" style="width: 200px" class="ng-valid ng-dirty">
			   	{{speed}}
			   <div>
			   	<pre><h1>{{splitArticle[i]}}</h1></pre>
			   </div>
			   	<div>
			  	<button ng-click="step('prevSent')" class = "glyphicon glyphicon-fast-backward btn btn-default bigBtn"></button>
			  	<button ng-click="step('prev')" class = "glyphicon glyphicon-step-backward btn btn-default bigBtn"></button>

			   	<span ng-if="showPlay">
			    <button ng-click="play()" class = "glyphicon glyphicon-play btn btn-default bigBtn bigBtn" ></button>
			    </span>
			    <span ng-if="!showPlay">
			    <button ng-click="play()" class = "glyphicon glyphicon-pause btn btn-default bigBtn"></button>
			  	</span>

			  	<button ng-click="step()" class = "glyphicon glyphicon-step-forward btn btn-default bigBtn"></button>
<!-- 			  	<button ng-click="step()" class = "glyphicon glyphicon-fast-forward btn btn-default bigBtn"></button> -->

<!-- 			  	<button ng-click="i = 0" class = "glyphicon glyphicon-repeat btn btn-default bigBtn" ></button> -->
			  </div>
			    <br>
					<div class="progress">
					  <div id = "bar" class="progress-bar" role="progressbar"aria-valuemin="0" aria-valuemax="100" style="width: {{((i+1)/splitArticle.length) * 100}}%;">
					  </div>

					</div>
					 Progress {{i+1}} / {{splitArticle.length}}
			</div>
			<span>Article Created By: {{article.user.username}} </span>
			<span>{{article.url}}</span>
    </div>
</section>

